
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(#009688 20%, #DBDBD2 20% 100%);
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* ELEMENTS */

/* Base-Structure */

.main-window{
  max-width: 80%;
  min-width: 500px;
  margin: auto;
  height: 90vh;
}

.con-column{
  background-color: #fff;
  flex-basis: 30%;
  flex-direction: column;
}

.messenger{
  flex-basis: 70%;
  flex-direction: column;
  justify-content: space-between;
}

nav{
  background-color: #EAEAEA;
  flex-basis: 60px;
  justify-content: space-between;
  padding: 4px 8px;
  align-items: center;
  flex-shrink: 0;
}

#msn-nav{
  border-left: 1px solid #B1B1B1;
}

/* Contact Column */

.my-avatar,
.friend-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.username{
margin: 0px 6px;
}

.my-avatar > img,
.friend-avatar > img{
  height: 100%;
}

.friend-recap-data{
  cursor: pointer;
}

.noti-bar{
  background-color:#8EDAFC;
  flex-basis: 65px;
  flex-shrink: 0;
  padding: 0px 18px;
  cursor: pointer;
  color: #3b3939;
}

.noti-silencer{
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.noti-link a{
  text-decoration: none;
  color: #3b3939;
  font-size: 12px;
}

.noti-link a:hover{
  text-decoration: underline;
}

.search-bar{
  background-color: #FFF;
}

.con-content{
  padding: 8px 0px;
  /*overflow-y: auto;*/
}

li.contact{
 padding: 7px 8px;
 cursor: pointer;
 color: #3b3939;
 font-size: 20px;
 position: relative;
}

li.contact:hover{
  background-color: #EBEBEB;
}

li.contact:hover .visual{
  display: flex;
}

.selected{
  background-color: #d5c9c9;
}


.friend-data{
  margin-left: 8px;
}

/* Messenger Section */

.friend-recap-data,
.noti-recap-data{
  margin-left: 12px;
  text-align: left;
}

.login-time{
  color: #B1B1B1;
}

.messenger-core{
  background-image: url(../img/mine.jpg);
  flex-basis: 82%;
  padding: 30px 85px;
  overflow-y: auto;
}

.input-bar{
  flex-basis: 10%;
  background-color: #F3EEEA;
}

.input-bar > .left-side,
.input-bar > .right-side{
  flex-basis: 10%;
  justify-content: center;
  padding: 0px 10px
}

.input-bar > .central-side{
  flex-basis: 80%;
  justify-content: center;
}

/* MIX */

.flex-center{
  display: flex;
  align-items: center;
}

.flex{
  display: flex;
}

/* MESSAGE */

.messenger-list{
  width:100%
}

.message{
  width: 100%;
}

.bubble{
  border-radius: 10px;
  padding:5px 10px;
  margin: 20px 0;
  max-width: 280px;
  min-width: none;
  word-break: border;
  position: relative;
}

.visual{
  display: none;
}

.hide{
  display: block;
}

.bubble:hover .visual{
  display: flex;
}

.bubble:hover .hide{
  display: none;
}

.bubble:hover .msg-date{
  justify-content: flex-start;
}

.arrow{
  font-size: 18px;
  margin-top: 2px;
  cursor: pointer;
  flex-basis: 10%;
}

li.contact .arrow{
  margin-left: auto;
  color: #B1B1B1;
  padding-right: 3px;
}

.delete-window{
  position: absolute;
  bottom:0;
  border-radius: 2px;
  background-color: white;
  padding: 10px 0px;
  z-index:10;
  width:200px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  cursor:pointer;
}

.delete-window li{
  font-size: 14px;
  padding: 10px 12px;
  color:#3b3939;
}

.delete-window li:hover{
  background-color:#EBEBEB;
}

.sent .delete-window{
  left:0;
  transform: translate(-89%, 95%);
}

.received .delete-window{
  left:0;
  transform: translate(10%, 95%);
}

.contact .delete-window{
  right:0;
  transform: translate(90%, 87%);
}

.internal{
  justify-content: flex-end;
  flex-wrap: wrap;
}

.msg-txt{
  padding: 5px 0;
  flex-basis: 90%;
  color: #3b3939;
}

.msg-date{
  flex-basis: 12%;
  font-size: 9px;
  position:relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  color:  #B1B1B1;
}

.msg-date .time{
  font-size: 11px;
}

.time{
  text-align: right;
}

.sent{
  background-color: #D5F9BA;
  margin-left: auto;
}

.received{
  background-color: #fff;
  margin-right: auto;
}

.emoji-panel{
  background-color: #F3EEEA;
  padding: 9px 10px;
  width: 801px;
  height: 200px;
  transition: height 0.5s;
}

.emoji-panel h4{
  color: #6B7376;
}

.emoji-list{
  display: flex;
  flex-wrap: wrap;
}

.emoticon{
  font-size: 25px;
  margin: 5px 6px;
  cursor: pointer;
}

.open{
 display:block;
}

.open .emoticon{
  opacity: 1;
  transition: opacity;
}


.close{
  height:0px;
  padding:0;
  transition: height 0.5s;
}

.close .emoticon,
.close h4,
.close ul{
  display: none;
  opacity:0;
  width: 0px;
  height: 0px;
  padding: 0px ;
  transition: height 0.2s;
}

/* TYPO */

ul{
  list-style: none;
}


/* INPUT-BUTTONS-ICONS */

i{
  cursor: pointer;
}

nav .right-side > i{
  color: #B1B1B1;
  margin: 0px 6px;
  font-size: 14px;
}

.noti-silencer{
  color: #8EDAFC;
}

.search-bar i{
  margin: 0px 0px;
  margin-left: 6px;
  padding: 9px 5px;
  background-color: #fff;
  color: #B1B1B1;
}

.input-bar i{
  color: #6B7376;
  font-size: 18px;
  padding: 0px 8px;
}

input{
  padding: 0px 15px;
  border-radius: 3px;
  border: none;
}

.input-bar input{
  height: 40px;
  width: 700px;
}

.search-bar input{
  width: 280px;
  height: 35px;
  margin: 5px 0;
  cursor: pointer;
}

input:focus{
  outline: none;
};
