
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(#009688 20%, #DBDBD2 20% 100%);
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* ELEMENTS */

/* Base-Structure */

.main-window{
  max-width: 80%;
  margin: auto;
  height: 90vh;
}

.con-column{
  background-color: #fff;
  flex-basis: 30%;
  flex-direction: column;
}

.messenger{
  flex-basis: 70%;
  flex-direction: column;
  justify-content: space-between;
}

nav{
  background-color: #EAEAEA;
  flex-basis: 60px;
  justify-content: space-between;
  padding: 4px 8px;
  align-items: center;
  flex-shrink: 0;
}

#msn-nav{
  border-left: 1px solid #B1B1B1;
}

/* Contact Column */

.my-avatar,
.friend-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.username{
margin: 0px 6px;
}

.my-avatar > img,
.friend-avatar > img{
  height: 100%;
}

.noti-bar{
  background-color:#8EDAFC;
  flex-basis: 65px;
  flex-shrink: 0;
  padding: 0px 18px;
}

.noti-silencer{
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.con-content{
  padding: 8px 12px;
  text-align: justify;
  overflow-y: auto;
}

.friend-recap-data,
.noti-recap-data{
  margin-left: 12px;
  text-align: left;
}

.login-time{
  color: #B1B1B1;
}

.messenger-core{
  background-image: url(../img/mine.jpg);
  flex-basis: 82%;
  overflow-y: auto;
}

.input-bar{
  flex-basis: 10%;
  background-color: #F3EEEA;
}

/* MIX */

.flex-center{
  display: flex;
  align-items: center;
}

.flex{
  display: flex;
}

/* TYPO */

/* INPUT-BUTTONS-ICONS */

i{
  cursor: pointer;
}

nav .right-side > i{
  color: #B1B1B1;
  margin: 0px 6px;
  font-size: 14px;
}

.noti-silencer{
  color: #8EDAFC;
}
